[submodule "3rdparty/gtest/googletest"]
	path = 3rdparty/gtest/googletest
	url = https://github.com/google/googletest.git
[submodule "3rdparty/ceres/ceres-solver"]
	path = 3rdparty/ceres/ceres-solver
	url = https://github.com/ceres-solver/ceres-solver.git
[submodule "3rdparty/imgui/imgui"]
	path = 3rdparty/imgui/imgui
	url = https://github.com/ocornut/imgui.git
[submodule "3rdparty/glfw/glfw"]
	path = 3rdparty/glfw/glfw
	url = https://github.com/glfw/glfw.git
[submodule "3rdparty/cereal/cereal"]
	path = 3rdparty/cereal/cereal
	url = https://github.com/USCiLab/cereal.git
